@model OnlineCoaching.ViewModels.Offer.OfferViewModel
<div class="offer-simple-wrapper">
    <a href="~/Offers/View/@Model.ID">
        <div class="list-group-item">
            <div class="row">
                <div class="col-md-9">
                    Title: <strong>@Model.Title</strong>
                </div>
                <div class="col-md-3">
                    Rating: @Model.Rating
                </div>
            </div>
            <img src="@Model.OfferPictureURL" alt="No picture" class="offer-picture" />
            <div>
                Description: @(@Model.Description.Length>100 ? @Model.Description.Substring(0,100)+"..." : @Model.Description)
            </div>
            <div class="row">
                <div class="col-md-9">
                    Coach: @Model.Coach.Username
                </div>
                <div class="col-md-3">
                    Joiners: @Model.Joiners.Count()
                </div>
            </div>
            <div>
                Created on: @Model.DateCreated
            </div>
        </div>
    </a>
</div>
