<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Coaching</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/common")
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse top-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online Coaching", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav" id='menu'>
                    <li>@Html.ActionLink("AllOffers", "Index", "Offers")</li>
                    <li>@Html.ActionLink("AllCoaches", "Index", "Coaches")</li>
                    @if (User.IsInRole("coach") || User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("CreateOffer", "Create", "Offers")</li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li>
                            Administration
                            <ul>
                                <li>@Html.ActionLink("AllUsers", "Index", "Users", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("AllOffers", "Index", "Offers", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("AllLevels", "Index", "Levels", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("AllRatings", "Index", "Ratings", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("AllComments", "Index", "Comments", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("AllCategories", "Index", "Categories", new { area = "Administration" }, null)</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Copyright @DateTime.Now.Year - Online Coaching</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")

    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('#menu').kendoMenu();
        })
    </script>
</body>
</html>
