@model OnlineCoaching.ViewModels.Rating.RatingViewModel

@{
    ViewBag.Title = "Rating page";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Delete", "Levels", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Delete rating</h4>
    <hr />
    <h4 class="panel panel-body panel-danger">Are you sure you want to delete this rating ?</h4>
    <div class="form-group">
        @Html.LabelFor(r => r.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(r => r.Name, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Value, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(r => r.Value, new { @class = "form-control", @type = "number", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-danger" value="Delete rating" />
            <a href="~/Ratings/Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
}

