@model OnlineCoaching.ViewModels.Rating.RatingViewModel

@{
    ViewBag.Title = "Rating page";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Ratings", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Edit rating</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(r => r.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(r => r.Name, new { @class = "form-control", @autofocus = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Value, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(r => r.Value, new { @class = "form-control", @type = "number" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" value="Save rating" />
            <a href="~/Ratings/Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}


