@model OnlineCoaching.ViewModels.Comment.CommentViewModel

@{
    ViewBag.Title = "Comment page";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Comments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Edit comment</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(c => c.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Content, new { @class = "form-control", @autofocus = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Offer.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Offer.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" value="Save comment" />
            <a href="~/Comments/Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}


