@model OnlineCoaching.ViewModels.Coaches.CoachProfileViewModel
<a href="#">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-6">
                Username: <strong>@Model.Username</strong>
            </div>
            <div class="col-md-6">
                Rating: @Model.CoachRating
            </div>
        </div>
        <img src="@Model.PictureURL" />
        <div class="row">
            <div class="col-md-6">
                Age: @Model.Age
            </div>
            <div class="col-md-6">
                Level: @Model.CoachingLevel
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Certificates: @Model.Certificates.Count()
            </div>
            <div class="col-md-6">
                Offers: @Model.Offers.Count()
            </div>
        </div>
        <div>
            Skills: @Model.AboutMe
        </div>
    </li>
</a>
