@model OnlineCoaching.ViewModels.Coach.CoachProfileViewModel
<a href="#">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-9">
                Username: <strong>@Model.Username</strong>
            </div>
            <div class="col-md-3">
                Rating: @Model.CoachRating
            </div>
        </div>
        <img src="@Model.PictureURL" />
        <div class="row">
            <div class="col-md-6">
                Age: @Model.Age
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        Level:
                    </div>
                    <div class="col-md-8 pull-left">
                        <img src="@Model.CoachingLevel.ImageURL" title="@Model.CoachingLevel.Name" class="level-images-home"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Certificates: @Model.Certificates.Count()
            </div>
            <div class="col-md-6">
                Offers: @Model.Offers.Count()
            </div>
        </div>
        <div>
            Skills: @Model.AboutMe
        </div>
    </li>
</a>
